#grand_parent{
    width: 500px;
    background-color: blueviolet;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    width: 300px;
    background-color: rgb(43, 226, 52);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#child{
    width: 100px;
    background-color: rgb(245, 93, 5);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


